<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Alert from '@/Components/Alert.vue';
    import FormSection from '@/Components/FormSection.vue';
    import InputError from '@/Components/InputError.vue';
    import InputHelp from '@/Components/InputHelp.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import ActionMessage from '@/Components/ActionMessage.vue';
    import PrimaryButton from '@/Components/PrimaryButton.vue';
    import TextInput from '@/Components/TextInput.vue';
    import SelectInput from '@/Components/SelectInput.vue';
    import { useForm } from '@inertiajs/inertia-vue3';

    const props = defineProps({
        shelf: Object,
        types: Array,
        book: Number,
        accesses: Array,
        mode: {
            type: String,
            default: "new"
        },
    });

    const form = useForm({
        name: props.shelf?.name ? props.shelf.name : '',
        type: props.shelf?.type ? props.shelf?.type : 'CUSTOM',
        access: props.shelf?.access ? props.shelf.access : '',
    });

    const addOrUpdateShelf = () => {
        if(props.mode == 'edit')
            updateShelf();
        else
            addShelf();
    };

    const updateShelf = () => {
        form.patch(route("shelves.update", {shelf: props.shelf.id}), { preserveScroll: true });
    };

    const addShelf = () => {
        form.post(route("shelves.store", {book: props.book}));
    };

</script>

<template>
    <FormSection @submitted="addOrUpdateShelf">
        <template #title>
            Shelf Details
        </template>

        <template #description>
            <Alert type="alert" v-if="form.access == 'PUBLIC'">
                You have set this shelf to public. The shelf name, your profile name, and your profile picture will be visible to other users of {{ $page.props.config['app.name'] }}.
            </Alert>
        </template>

        <template #form>
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="name" value="Name" />
                <TextInput
                    id="name"
                    v-model="form.name"
                    type="text"
                    class="mt-1 block w-full"
                    autofocus
                />
                <InputHelp class="mt-2">The shelf name will be visible to other users if this is access is set as Public.</InputHelp>
                <InputError :message="form.errors.name" class="mt-2" />
            </div>
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="access" value="Access" />
                <SelectInput
                    id="access"
                    v-model="form.access"
                    type="text"
                    class="mt-1 block w-full"
                    autocomplete="access"
                    required
                    selectPrompt="Select type of access"
                    :options="accesses"
                />
                <InputError :message="form.errors.access" class="mt-2" />
            </div>
        </template>

        <template #actions>
            <ActionMessage :on="form.recentlySuccessful" class="mr-3">
                Saved.
            </ActionMessage>
            <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save
            </PrimaryButton>
        </template>
    </FormSection>
</template>
