<script setup>
    import { ref } from 'vue';
    import { useForm } from '@inertiajs/inertia-vue3';
    import ActionSection from '@/Components/ActionSection.vue';
    import ActionConfirmation from '@/Components/ActionConfirmation.vue';
    import DangerButton from '@/Components/DangerButton.vue';
    import TextInput from '@/Components/TextInput.vue';
    import pluralize from 'pluralize';

    const deleteConfirmation = ref(false);

    const form = useForm({});

    defineProps({
        shelf: Object
    });

    const deleteShelf = (shelf) => {
        form.delete(route('shelves.destroy', {shelf: shelf.id}), {
            preserveScroll: true,
            onSuccess: () => {
                if(deleteConfirmation.value)
                    deleteConfirmation.value.show = false;
            },
        });
    };
</script>

<template>
    <ActionSection>
        <template #title>
            Delete Shelf
        </template>

        <template #description>
            Permanently delete shelf.
        </template>

        <template #content>
            <div class="max-w-xl text-sm text-gray-600">
                <span>
                    When this shelf is deleted, anyone who has access to this shelf will no longer be able to access it.
                </span>
            </div>

            <div class="mt-5">
                <ActionConfirmation 
                    :when="shelf.books_count > 0"
                    ref="deleteConfirmation"
                    confirmation-label="Delete Shelf"
                    title="Delete Shelf"
                    type="danger"
                    :processing="form.processing"
                    :confirmation-code="shelf.name"
                    require-confirmation
                    @confirmed="deleteShelf(shelf)"
                >
                    <template #message>
                        This shelf has {{pluralize("book", shelf.books_count, true)}} in it. Are you sure you want to delete this shelf? When this shelf is deleted, anyone who has access to this shelf will no longer be able to access it.
                    </template>
                    <DangerButton>
                        Delete Shelf
                    </DangerButton>
                </ActionConfirmation>
            </div>

        </template>
    </ActionSection>
</template>
