<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import Paginator from '@/Components/Paginator.vue';
    
    defineProps({
        tags: Object
    });
</script>

<template>
    <AppLayout title="All Tags">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                All Tags
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="grid grid-cols-2 mx-2 md:grid-cols-3 lg:grid-cols-6 gap-5">
                    <span v-for="tag in tags.data" :key="tag.id" class="relative">
                        <Link :href="route('tags.show', {tag: tag.slug})">
                            <div class="grid  justify-items-center border p-4 bg-white hover:bg-blue-200 rounded">
                                <div class="mt-2 text-sm">{{tag.name}}</div>
                            </div>
                            <div class="absolute inline-flex items-center justify-center w-10 h-6 text-xs font-bold text-white bg-gray-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
                                {{ tag.books_count }}
                            </div>
                        </Link>
                    </span>
                </div>
                <paginator :start="tags.from" :end="tags.to" :total="tags.total" :links="tags.links"  label="tags"/>
            </div>
        </div>
    </AppLayout>
</template>
