<script setup>
    import NavLink from '@/Components/NavLink.vue';
    import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';

    defineProps({
        responsive: {
            type: Boolean,
            default: false
        },
        links: {
            type: Object,
            required: true
        }
    });
</script>
<template>
    <template v-for="link in links" :key="link">
        <template v-if="responsive">
            <ResponsiveNavLink :href="link.route" :active="link.active">
                {{link.label}}
            </ResponsiveNavLink>
        </template>
        <template v-else>
            <NavLink :href="link.route" :active="link.active">
                {{link.label}}
            </NavLink>
        </template>
    </template>
</template>