<script setup>
    import FormSection from '@/Components/FormSection.vue';
    import InputError from '@/Components/InputError.vue';
    import InputHelp from '@/Components/InputHelp.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import ActionMessage from '@/Components/ActionMessage.vue';
    import PrimaryButton from '@/Components/PrimaryButton.vue';
    import TextInput from '@/Components/TextInput.vue';
    import SelectInput from '@/Components/SelectInput.vue';
    import EmailConfig from '../Types/Email.vue';
    import GoogleDriveConfig from '../Types/GoogleDrive.vue';
    import { Link, useForm } from '@inertiajs/inertia-vue3';
    import kindleLogo from './Assets/kindle.png';
    import emailLogo from './Assets/email.png';

    const props = defineProps({
        device: Object,
        deviceTypes: Array,
        mode: {
            type: String,
            default: "new"
        },
    });

    const form = useForm({
        name: props.device?.id ? props.device.name : '',
        type: props.device?.id ? props.device.driver : '',
        config: props.device?.id ? props.device.config : {},
    });

    const addOrUpdateDevice = () => {
        if(props.mode == 'edit')
            updateDevice();
        else
            addDevice();
    };

    const updateDevice = () => {
        form.patch(route("devices.update", {device: props.device.id}), { preserveScroll: true });
    };

    const deviceSelected = () => {
        switch(form.type)
        {
            case 'kindle':
            case 'email':
                form.config = EmailConfig.getConfig(props.device?.config);
                break;

            case 'gdrive':
            case 'kobo':
            case 'boox':
                form.config = GoogleDriveConfig.getConfig(props.device?.config);
                break;
        }
    };

    const addDevice = () => {
        form.post(route("devices.store"), {
            onSuccess: () => {
                form.name = props.device.name
            }
        });
    };

    const getDevice = (device) => {
        return props.deviceTypes.filter((type) => type.value == device)[0];
    };

</script>

<template>
    <FormSection @submitted="addOrUpdateDevice">
        <template #title>
            Device Information
        </template>

        <template #description>
            Enter details about this device
        </template>

        <template #form>
            <!-- Type -->
            <div class="col-span-6 sm:col-span-4" v-if="mode=='new'">
                <InputLabel for="type" value="Type" />
                <SelectInput
                    id="type"
                    v-model="form.type"
                    type="text"
                    class="mt-1 block w-full"
                    autocomplete="type"
                    required
                    autofocus
                    selectPrompt="Select type of device"
                    :options="props.deviceTypes"
                    @input="deviceSelected"
                />
                <InputError :message="form.errors.type" class="mt-2" />
            </div>
            <div class="col-span-6 sm:col-span-4" v-if="mode=='edit'">
                <InputLabel for="type" value="Type" />
                <span class="mt-1 block w-full">
                    <img :src="kindleLogo" class="w-20" v-if="props.device?.driver == 'kindle'">
                    <img :src="emailLogo" class="w-20" v-if="props.device?.driver == 'email'">
                </span>
            </div>
            
            <!-- Name -->
            <div class="col-span-6 sm:col-span-4" v-if="props.device?.id">
                <InputLabel for="name" value="Name" />
                <TextInput
                    id="name"
                    v-model="form.name"
                    type="text"
                    class="mt-1 block w-full"
                />
                <InputError :message="form.errors.name" class="mt-2" />
            </div>
            
            <!-- Device Configuration -->
            <EmailConfig v-if="getDevice(form.type)?.driver == 'App\\Device\\Email'" v-model="form.config" :errors="form.errors">
                <InputHelp class="mt-2" v-if="getDevice(form.type)?.config?.help">
                    Click <a class="underline" :href="'https://nullreferer.com/?'+getDevice(form.type)?.config?.help" target="_blank" rel="noopener noreferrer">here</a> to see how to find your device's email address.
                </InputHelp>
            </EmailConfig>
            <GoogleDriveConfig autofocus v-if="getDevice(form.type)?.driver == 'App\\Device\\GoogleDrive'" v-model="form.config" :errors="form.errors"/>
        </template>

        <template #actions>
            <ActionMessage :on="form.recentlySuccessful" class="mr-3">
                Saved.
            </ActionMessage>
            <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save
            </PrimaryButton>
        </template>
    </FormSection>
</template>
