<script setup>
    import { ref } from 'vue';
    import { useForm } from '@inertiajs/inertia-vue3';
    import ActionSection from '@/Components/ActionSection.vue';
    import InputError from '@/Components/InputError.vue';
    import DangerButton from '@/Components/DangerButton.vue';
    import SecondaryButton from '@/Components/SecondaryButton.vue';
    import TextInput from '@/Components/TextInput.vue';
    import ActionConfirmation from '@/Components/ActionConfirmation.vue';
    import Alert from '@/Components/Alert.vue';

    const deleteConfirmation = ref(null)

    const form = useForm({});

    defineProps({
        device: Object
    });

    const deleteDevice = (device) => {
        form.delete(route('devices.destroy', {device: device.id}), {
            preserveScroll: true,
            onSuccess: () => {
                if(deleteConfirmation.value)
                    deleteConfirmation.value.show = false
            },
        });
    };

</script>

<template>
    <ActionSection>
        <template #title>
            Delete Device
        </template>

        <template #description>
            Permanently delete device - {{device?.name}}.
        </template>

        <template #content>
            <div class="max-w-xl text-sm text-gray-600">
                <span>
                    After this device is deleted, you will not be able to send anymore books to this device. However, you can add a device anytime.
                </span>
                <span class="pt-10">
                    <Alert type="alert">
                        If you have sent any books to this device which hasn't been delivered yet, it may not deliver if you delete the device now. Hence please confirm that you have received all books you've already sent before deleting this device.
                    </Alert>
                </span>
            </div>

            <div class="mt-5">
                <ActionConfirmation 
                    ref="deleteConfirmation"
                    type="danger" 
                    confirmation-label="Delete Device" 
                    :processing="form.processing"
                    @confirmed="deleteDevice(device)"
                >
                    <template #title>
                        Delete Device - {{device.name}}
                    </template>
                    
                    <template #message>
                        Are you sure you want to delete this device? After this device is deleted, you will not be able to send anymore books to this device. However, you can add a device anytime.
                    </template>

                    <DangerButton>
                        Delete Device
                    </DangerButton>
                </ActionConfirmation>
            </div>
        </template>
    </ActionSection>
</template>
