<script setup>
    import TextInput from '@/Components/TextInput.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import InputHelp from '@/Components/InputHelp.vue';
    import InputError from '@/Components/InputError.vue';

    const props = defineProps({
        modelValue: Object,
        errors: Object
    });

    const emit = defineEmits(['update:modelValue']);

    const update = (key, value) => {
        emit("update:modelValue", {...props.modelValue, [key]: value});
    };

</script>
<script>
    export default {
        getConfig(config) {
            return {
                email: config?.email ? config.email : ''
            };
        }
    }
</script>
<template>
    <div class="col-span-6 sm:col-span-4">
        <InputLabel for="email" value="Email" />
        <TextInput
            id="email"
            :value="props.modelValue.email"
            type="text"
            class="mt-1 block w-full"
            autofocus
            @input="update('email', $event.target.value)"
        />
        <slot/>
        <InputError :message="props.errors?.email" class="mt-2" />
    </div>
</template>