<script setup>
    import TextInput from '@/Components/TextInput.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import InputHelp from '@/Components/InputHelp.vue';
    import InputError from '@/Components/InputError.vue';
    import SecondaryButton from '@/Components/SecondaryButton.vue';

    const props = defineProps({
        modelValue: Object,
        errors: Object
    });

    const emit = defineEmits(['update:modelValue']);

    const update = (key, value) => {
        emit("update:modelValue", {...props.modelValue, [key]: value});
    };

</script>
<script>
    export default {
        getConfig(config) {
            return {
                token: config?.token ? config.token : '',
                path: config?.path ? config.path : '',
            };
        }
    }
</script>
<template>
    <div class="col-span-6 sm:col-span-4">
        <SecondaryButton>
            Connect to Google Drive
        </SecondaryButton>
        <InputHelp class="mt-2">
            To send books, you need to connect to Google Drive, and select a folder where the book will be uploaded. Then using Google Drive on your eReader you can download and read the book.
        </InputHelp>
        <InputError :message="props.errors?.email" class="mt-2" />
    </div>
</template>