<script setup>
import { Head } from '@inertiajs/inertia-vue3';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';

defineProps({
    terms: String,
    updated: String,
});
</script>

<template>
    <Head title="Terms of Service" />

    <div class="font-sans text-gray-900 antialiased">
        <div class="pt-4 bg-gray-100">
            <div class="min-h-screen flex flex-col items-center pt-6 sm:pt-0">
                <div>
                    <AuthenticationCardLogo />
                </div>

                <div class="w-full sm:max-w-2xl mt-6 mb-5 p-6 bg-white shadow-md overflow-hidden sm:rounded-lg prose">
                    {{terms}}
                    <span class="mt-2">
                        Last Updated: {{updated}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
