<script setup>
    import { useForm } from '@inertiajs/inertia-vue3';
    import PrimaryButton from '@/Components/PrimaryButton.vue';
    import FormSection from '@/Components/FormSection.vue';
    import TextInput from '@/Components/TextInput.vue';
    import InputError from '@/Components/InputError.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import InputHelp from '@/Components/InputHelp.vue';
    import ActionMessage from '@/Components/ActionMessage.vue';
    import { ref } from 'vue';
    
    const email_input = ref(null);

    const create_invitation_form = useForm({
        email: ''
    });

    const createInvitation = () => {
        create_invitation_form.post(
            route("admin.invitations.store"),
            {
                preserveScroll: true,
                preserveState: true,
                onSuccess: () => { create_invitation_form.reset(); },
                onError: () => { email_input.focus() }
            }
        )
    }

</script>

<template>
    <FormSection @submitted="createInvitation">
        <template #title>
            Invite someone to {{ $page.props.config['app.name'] }}
        </template>

        <template #description>
            An invitation will be sent to this email address which enables them to registed for an account on this portal.
        </template>

        <template #form>
            <!-- Email -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="email" value="Email" />
                <TextInput
                    id="email"
                    v-model="create_invitation_form.email"
                    type="text"
                    class="mt-1 block w-full"
                    autofocus
                />
                <InputError :message="create_invitation_form.errors.email" class="mt-2" />
            </div>
        </template>

        <template #actions>
            <ActionMessage :on="create_invitation_form.recentlySuccessful" class="mr-3">
                Invitation sent.
            </ActionMessage>
            <PrimaryButton :class="{ 'opacity-25': create_invitation_form.processing }" :disabled="create_invitation_form.processing">
                Invite
            </PrimaryButton>
        </template>
    </FormSection>
</template>