<script setup>
    import Paginator from '@/Components/Paginator.vue';
    import { useForm } from '@inertiajs/inertia-vue3';
    import { DateTime } from "luxon";
    import { ref } from 'vue';
    import ActionConfirmation from '@/Components/ActionConfirmation.vue';
    import ActionSection from '@/Components/ActionSection.vue';
    import DangerButton from '@/Components/DangerButton.vue';
    import SecondaryButton from '@/Components/SecondaryButton.vue';
    import PrimaryButton from '@/Components/PrimaryButton.vue';

    defineProps({
        invitations: Object
    });

    const deleteConfirmation = ref(null)
    const resendConfirmation = ref(null)

    const resend_invitation_form = useForm();
    const delete_invitation_form = useForm();

    const deleteInvitation = (invitaiton) => {
        delete_invitation_form.delete(
            route("admin.invitations.destroy", {invitation: invitaiton.id}), 
            {
                preserveScroll: true,
                preserveState: true,
                onSuccess: () => {
                    if(deleteConfirmation.value)
                        deleteConfirmation.value.show = false
                },
            }
        );
    }

    const resendInvitation = (invitation) => {
        resend_invitation_form.post(
            route("admin.invitations.resend", {invitation: invitation.id}), 
            {
                preserveScroll: true,
                preserveState: true,
                onSuccess: () => {
                    if(resendConfirmation.value)
                        resendConfirmation.value.show = false
                },
            }
        );
    }

</script>

<template>
    <ActionSection>
        <template #title>
            Pending Invitations
        </template>
        <template #description>
            These are pending invitations that may or may not have been expired already. Expired invitations are still listed unless cleared, to make it easier to resend invitations at a later time.
        </template>
        <template #content>
            <div class="container relative mx-auto overflow-x-auto sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Sent to
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Invited
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Expires
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="invitation in invitations.data" :key="invitation" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{invitation.email}}
                            </td>
                            <td class="px-6 py-4">
                                <span v-show="invitation.updated_at">
                                    {{ DateTime.fromISO(invitation.updated_at).toLocaleString(DateTime.DATETIME_MED) }}
                                </span>
                            </td>
                            <td class="px-6 py-4">
                                <transition name="invitation">{{ DateTime.fromISO(invitation.expires_at).toLocaleString(DateTime.DATE_MED) }}</transition>
                            </td>
                            <td class="px-6 py-4">
                                <ActionConfirmation 
                                    ref="resendConfirmation"
                                    title="Resend Invitation" 
                                    confirmation-label="Resend" 
                                    :processing="resend_invitation_form.processing"
                                    @confirmed="resendInvitation(invitation)"
                                >
                                    <template #message>Resending an invitation will invalidate any previous invitaiton emails to {{invitation.email}}. Are you sure you would resend this invitation?</template>

                                    <button class="cursor-pointer ml-6 font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                        Resend
                                    </button>
                                </ActionConfirmation>

                                <ActionConfirmation 
                                    ref="deleteConfirmation"
                                    title="Delete Invitation" 
                                    type="danger" 
                                    confirmation-label="Delete Invitation" 
                                    :processing="delete_invitation_form.processing"
                                    @confirmed="deleteInvitation(invitation)"
                                >
                                    <template #message>Are you sure you want to delete the invitation sent to {{ invitation.email }}?</template>
                                    <button class="cursor-pointer ml-6 font-medium text-red-600 dark:text-red-500 hover:underline">
                                        Delete
                                    </button>
                                </ActionConfirmation>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <paginator class="pb-3" single-line :links="invitations.links" :start="invitations.from" :end="invitations.to" :total="invitations.total"  label="invitations"/>
            </div>
        </template>
    </ActionSection>
    
</template>