<template>
    <svg id="eEbzhdV6LvA1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 499.09 400" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g transform="translate(0-652.36)"><path d="M12.374,1006c150.75-13.875,302.39-14.408,455.02,0-3.444-95.638-10.307-189.32-7.7782-288.37-93.751,3.2588-147.24-75.783-227.58-13.081-90.906-64.653-90.903,18.62-222.62,18.385c6.2867,95.682,3.8464,189.18,2.9526,283.07Z" fill="#2891d5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M243.95,952.31c56.969-41.116,133.46,25.072,199.4,28.638L443,733.098c-104.27-6.8004-141.23-84.275-200.82-14.496Z" fill="#fff" stroke="#11f1f1"/><path d="M222.74,955.14c-56.97-41.12-133.46,25.07-199.4,28.63l.348-247.84c104.27-6.8,141.22-84.27,200.82-14.49Z" fill="#fff" stroke="#0d75f3"/></g></svg>
</template>
