<script setup>
import { Link } from '@inertiajs/inertia-vue3';
defineProps({
    href: String,
    as: String,
    method: {
        type: String,
        default: 'get'
    },
    preserveState: {
        type: Boolean,
        default: false
    },
    preserveScroll: {
        type: Boolean,
        default: false
    },
    data: Object
});
</script>

<template>
    <div>
        <button v-if="as == 'button'" type="submit" class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 text-left hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition">
            <slot />
        </button>

        <a v-else-if="as =='a'" :href="href" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition">
            <slot />
        </a>

        <Link :preserve-state="preserveState" :data="data" :preserve-scroll="preserveScroll" v-else :method="method" :href="href" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition">
            <slot />
        </Link>
    </div>
</template>
