<script setup>
defineProps({
    message: String,
});
</script>

<template>
    <div>
        <p class="text-xs text-gray-600 italic">
            <slot>{{ message }}</slot>
        </p>
    </div>
</template>
