<script setup>
    import { Link } from '@inertiajs/inertia-vue3'
    import pluralize from 'pluralize';
    defineProps({
        start: {
            default: 1,
            type: Number
        },
        end: {
            type: Number
        },
        total: {
            type: Number
        },
        label: {
            type: String,
            default: 'entries'
        },
        links: {
            type: Array
        },
        singleLine: {
            type: Boolean,
            default: false
        }
    });
</script>

<template>
    <div class="flex flex-col items-center mt-4">
        <!-- Help text -->
        <span class="text-sm text-gray-700">
            Showing <span class="font-semibold text-gray-900 ">{{ start ? start : 0 }}</span> to <span class="font-semibold text-gray-900">{{ end ? end : 0 }}</span> of <span class="font-semibold text-gray-900 ">{{ total }}</span> {{ pluralize(label, total) }}
        </span>
        <div class="mt-2">
            <nav>
                <ul class="inline-flex items-center -space-x-px">
                    <li v-for="(link, index) in links" :key="link">
                        <Link as="button" :href="link.url" v-if="index==0" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        </Link>
                        <Link as="button" :href="link.url" v-if="index>0 && index!==(links.length-1)" :class="{'px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white': !link.active, 'z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white': link.active}">
                            {{link.label}}
                        </Link>
                        <Link as="button" :href="link.url" v-if="index==(links.length-1)" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </Link>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>