<script setup>
import { computed, onMounted, ref } from 'vue';

const props = defineProps({
    modelValue: String,
    options: Array,
    required: {
        type: Boolean,
        default: false
    },
    optionalText: {
        type: String,
        default: "N/A"
    },
    selectPrompt: {
        type: String,
        default: "Select and option"
    }
});

const optionsData = computed(() => {
    var optionData = [];

    props.options.forEach(option => {
        if(typeof option === 'object')
            optionData.push(option)
        else
        {
            optionData.push({
                label: titleCase(option.replace("_", " ")),
                value: option
            });
        }
    });

    return optionData;
});

const titleCase = (data) => {
    return data.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
};

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() => {
    if (input.value.hasAttribute('autofocus')) {
        input.value.focus();
    }
});

defineExpose({ focus: () => input.value.focus() });
</script>

<template>
    <select
        ref="input"
        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
        :value="props.modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
    >
        <option v-if="!props.required" value="">{{props.optionalText}}</option>
        <option v-else value="" disabled>{{props.selectPrompt}}</option>

        <option v-for="option in optionsData" :key="option" :value="option.value">{{option.label}}</option>
    </select>
</template>
