<script setup>
    import Alert from '@/Components/Alert.vue';
</script>
<template>
    <Alert type="success" v-if="$page.props.flash.success">
        {{$page.props.flash.success}}
    </Alert>
    <Alert type="info" v-if="$page.props.flash.info">
        {{$page.props.flash.info}}
    </Alert>
    <Alert type="alert" v-if="$page.props.flash.alert">
        {{$page.props.flash.alert}}
    </Alert>
    <Alert type="error" v-if="$page.props.flash.error">
        {{$page.props.flash.error}}
    </Alert>
</template>