<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import SectionBorder from '@/Components/SectionBorder.vue';
    import InvitationForm from './Partials/InvitationForm.vue';
    import InvitationList from './Partials/InvitationList.vue';
    
    defineProps({
        invitations: Object
    });

</script>

<template>
    <AppLayout title="Invitations">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Invitations
            </h2>
        </template>

        <div class="max-w-7xl mx-auto pt-10 sm:px-6 lg:px-8">
            <InvitationForm/>
        </div>
        <div class="max-w-7xl my-4 mx-auto pb-10 sm:px-6 lg:px-8" v-if="invitations.data.length">
            <SectionBorder/>
            <InvitationList :invitations="invitations"/>
        </div>
    </AppLayout>
</template>