<script setup>
    import { Link } from '@inertiajs/inertia-vue3'
    import DownloadButton from './DownloadButton.vue'
    import SystemAlert from '@/Components/SystemAlert.vue';
    import Rating from './Rating.vue';
    import ShelfMenu from './ShelfMenu.vue';
    import { LinkIcon } from "@heroicons/vue/20/solid";
    import { TagIcon } from "@heroicons/vue/20/solid";

    let props = defineProps({
        book: Object,
        detailed: {
            type: Boolean,
            default: false
        },
        identifier_profile: Array,
    });

    const getIdentifierUrl = (name, value) => {
        return props.identifier_profile[name].url.replace(":identifier", value);
    }

</script>
<script>
    export default {
        getIdentifierUrl() {
            return $page.props.config["book.identifiers"].url.replace(":identifier", value);
        }
    }
</script>

<template>
    <span v-if="!props.detailed">
        <Link :href="route('books.show', {book: props.book.slug})">
            <span  class="h-full relative p-4 mb-2 bg-white col-span-1 flex flex-col justify-items-center border rounded hover:drop-shadow-xl">
                <img :src="'/covers/'+props.book.image" class="rounded-lg object-cover mb-2">

                <h1 class="text-sm font-bold text-center">{{ props.book.title }}</h1>
                    
                <div class="absolute inline-flex items-center justify-center w-20 h-6 text-xs font-bold text-white bg-blue-500 rounded-full -top-3 -right-3 dark:border-blue-900">
                    {{ props.book.published_year }}
                </div>
                
                <span class="mb-4">
                    <p v-for="(author, index) in props.book.authors" :key="author.id" class="text-center text-md">
                        <Link class="text-sm text-green-600 hover:underline hover:text-blue-500" :href="route('authors.show', {author: author.slug})">{{author.name}}</Link>
                        <span v-if="(index+1) < props.book.authors.length">, </span>
                    </p>
                    <p class="mt-1 mb-1 text-xs text-center" v-if="props.book.series">
                        <Link class="text-blue-500 hover:underline" :href="route('series.show', {series: props.book.series.slug})">
                            {{ props.book.series.name }}
                        </Link> #{{ props.book.series_position }}
                    </p>
                    <p class="mt-2 mb-1 text-xs text-center">
                        <ShelfMenu :book="props.book" preview/>
                    </p>
                </span>
                
                <p class="absolute bottom-2 my-2">
                    <Rating :value="props.book.rating"/>
                </p>
            </span>
        </Link>
    </span>
    <span v-else>
        <div class="grid grid-flow-col grid-cols-3 gap-4 mx-3 bg-fixed">
            <div class="col-span-full md:col-span-1 md:h-80 flex justify-center">
                <div class="flex flex-col items-center">
                    <img :src="'/covers/' + props.book.image" class="w-auto rounded-lg object-cover h-100 overflow-hidden">
                    <ShelfMenu :book="props.book" class="mt-4"/>
                </div>
            </div>
            <div class="col-span-full md:col-span-2">
                <h2 class="pb-3 text-xl leading-4 italic" v-if="props.book.series">
                    <Link class="text-gray-500 hover:underline" :href="route('series.show', {series: props.book.series.slug})">
                        {{ props.book.series.name }} #{{ props.book.series_position }}
                    </Link>
                </h2>

                <h1 class="pb-2 text-3xl font-bold leading-7">{{ props.book.title }}</h1>
        
                <h3 class="pb-3 italic" v-if="props.book.subtitle">{{ props.book.subtitle }}</h3>
                
                <p class="pb-1 text-xl">
                    <span v-for="(author, index) in props.book.authors" :key="author.id">
                        <Link class="text-gray-500 hover:underline" :href="route('authors.show', {author: author.slug})">{{author.name}}</Link>
                        <span v-if="(index+1) < props.book.authors.length">, </span>
                    </span>
                </p>

                <p class="text-center mt-1 mb-2">
                    <Rating :value="props.book.rating" detailed/>
                </p>
                
                <p class="pb-2 text-left flex flex-wrap gap-2">
                    <span class="inline" v-for="(identifier, name) in props.book.identifiers" :key="identifier">
                        <a v-if="props.identifier_profile[name]" class="uppercase bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-small mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300" :href="'https://nullreferer.com/?'+getIdentifierUrl(name, identifier)" target="_blank" rel="noopener noreferrer"><LinkIcon class="w-4 h-4 inline mr-2 text-blue-700"/>{{props.identifier_profile[name].label}}</a>
                    </span>
                </p>
                
                <p class="pb-4 text-left flex flex-wrap gap-2" v-if="props.book.tags.length">
                    <Link :href="route('tags.show', {tag: tag.slug})" v-for="tag in props.book.tags" :key="tag" class="bg-green-100 hover:bg-green-200 text-green-800 text-xs font-small px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 uppercase" ><TagIcon class="w-4 h-4 inline text-green-700 mr-2"/>{{tag.name}}</Link>
                </p>

                <p class="pb-2 text-sm">
                    Published: {{ props.book.published_at }}
                </p>

                <p class="pb-1 mb-2 text-gray-900">
                    <DownloadButton :book="props.book"/>
                </p>
                
                <p class="pb-4 -mt-3 prose">
                    <SystemAlert/>
                    <span v-html="props.book.description"/>
                </p>
            </div>
        </div>
    </span>
</template>