<script setup>
    import { Link, useForm, usePage } from '@inertiajs/inertia-vue3'
    import { InboxArrowDownIcon, DevicePhoneMobileIcon } from "@heroicons/vue/20/solid";
    import Dropdown from '@/Components/Dropdown.vue';
    import DropdownLink from '@/Components/DropdownLink.vue';
    import Toast from '@/Components/Toast.vue';

    const props = defineProps({
        book: Object,
    });

    const getBorderClass = (index, length) => {
        if(index==0)
        {
            if ((index+1) == length)
                return 'rounded-l-lg rounded-r-lg';
            else
                return 'rounded-l-lg';
        }
        else if((index+1) == length)
            return 'rounded-r-lg'

    };

    const getSupportedFiles = (device) => {
        return props.book.files.filter((file) => !device.supported_formats?.length ? true : device.supported_formats.includes(file.format));
    }

    const formatSize = (bytes) => {
        if      (bytes >= 1073741824) { bytes = (bytes / 1073741824).toFixed(2) + " GB"; }
        else if (bytes >= 1048576)    { bytes = (bytes / 1048576).toFixed(2) + " MB"; }
        else if (bytes >= 1024)       { bytes = (bytes / 1024).toFixed(2) + " KB"; }
        else if (bytes > 1)           { bytes = bytes + " bytes"; }
        else if (bytes == 1)          { bytes = bytes + " byte"; }
        else                          { bytes = "0 bytes"; }
        return bytes;
    }

    const form = useForm({
        file: null
    })

    const conversionForm = useForm({
        book: null,
        format: null,
        device: null,
    });

    const deliverBookToDevice = (device, file) => {
        form.file = file.id;

        form.post(route("devices.deliver", {device: device.id}), {preserveScroll: true});
    }

    const convertFile = (book, format, device = null) => {
        conversionForm.book = book;
        conversionForm.format = format;
        conversionForm.device = device;

        conversionForm.post(route("convert"), {preserveScroll: true});
    }

    const getMissingDeviceFormats = (device) => {
        return ! device.supported_formats
            ? props.book.missing_formats 
            : props.book.missing_formats.filter((format) => device.supported_formats ? device.supported_formats.includes(format) : true);
    }
</script>

<template>
    <div class="flex">
        <Dropdown align="left" width="60">
            <template #trigger>
                <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:bg-gray-50 active:bg-gray-50 transition">
                    <InboxArrowDownIcon class="h-5 h-5 text-gray-500 inline" />
                    <span class="inline ml-2">Download</span> 
                </button>
            </template>
            <template #content>
                <div class="w-60">
                    <span v-for="file in props.book.files" :key="file.id" class="block">
                        <DropdownLink as="a" :href="route('books.download', {book: props.book.slug, format: file.format})" class="uppercase">{{file.format}} ({{formatSize(file.size)}})</DropdownLink>
                    </span>
                    
                    <span v-if="props.book.missing_formats.length && props.book.can_convert">
                        <div class="border-t border-gray-200" />
                    
                        <div class="block px-4 py-2 text-xs text-gray-400">
                            Convert to:
                        </div>

                        <span v-for="format in props.book.missing_formats" :key="format" class="block">
                            <form @submit.prevent="convertFile(props.book.id, format)">
                                <DropdownLink as="button">
                                    <span class="uppercase">{{format}}</span>
                                </DropdownLink>
                            </form>
                        </span>
                    </span>
                </div>
            </template>
        </Dropdown>
        <span v-for="device in $page.props.devices" :key="device.id">
            <Dropdown align="left" width="60">
                <template #trigger>
                    <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:bg-gray-50 active:bg-gray-50 transition">
                        <span class="inline ml-2"><DevicePhoneMobileIcon class="h-4 w-4 text-gray-500 inline"/>Send to {{device.name}}</span>
                    </button>
                </template>
                <template #content>
                    <div class="w-60">
                        <span v-for="file in getSupportedFiles(device)" :key="file" class="block">
                            <form @submit.prevent="deliverBookToDevice(device, file)">
                                <DropdownLink as="button">
                                    <span class="uppercase">
                                        {{file.format}} ({{formatSize(file.size)}})
                                    </span>
                                </DropdownLink>
                            </form>
                        </span>
                        <span v-if="Object.keys(getMissingDeviceFormats(device)).length && props.book.can_convert">
                            <div class="border-t border-gray-200" v-if="getSupportedFiles(device).length" />
                        
                            <div class="block px-4 py-2 text-xs text-gray-400">
                                Convert and send:
                            </div>

                            <span v-for="format in getMissingDeviceFormats(device)" :key="format" class="block">
                                <form @submit.prevent="convertFile(props.book.id, format, device.id)">
                                    <DropdownLink as="button">
                                        <span class="uppercase">{{format}}</span>
                                    </DropdownLink>
                                </form>
                            </span>
                        </span>
                    </div>
                </template>
            </Dropdown>
        </span>
        <span v-if="!$page.props.devices?.length">
            <Link as="button" :href="route('devices.create', {from: $page.url})" class="nline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:bg-gray-50 active:bg-gray-50"><DevicePhoneMobileIcon class="h-4 w-4 text-gray-500 inline"/>Send to your eReader</Link>
        </span>
        <Toast type="info" v-if="form.recentlySuccessful" class="ml-3 mt-2">Sent!</Toast>
    </div>
</template>