<script setup>
    import { StarIcon } from "@heroicons/vue/20/solid";

    defineProps({
        value: {
            type: Number,
            default: 0
        },
        detailed: {
            type: Boolean,
            default: false
        }
    });
</script>

<template>
    <div class="flex items-center">
        <span v-for="index in [1,2,3,4,5]" :key="index">
            <StarIcon v-if="index <= value" class="w-6 h-6 text-yellow-400" />
            <StarIcon v-else class="w-6 h-6 text-gray-300 dark:text-gray-500" />
        </span>
        <span class="ml-2 mt-1 font-bold" v-if="detailed">
            {{value}}/5
        </span>
    </div>
</template>