<script setup>
    import { BookmarkIcon, CheckIcon } from "@heroicons/vue/20/solid";
    import Dropdown from '@/Components/Dropdown.vue';
    import Toast from '@/Components/Toast.vue';
    import DropdownLink from '@/Components/DropdownLink.vue';
    import { useForm } from "@inertiajs/inertia-vue3";
    import { Link } from '@inertiajs/inertia-vue3'
    import ActionMessage from '@/Components/ActionMessage.vue';

    let props = defineProps({
        book: Object,
        preview: {
            type: Boolean,
            default: false
        }
    });

    let form = useForm({
        book: null
    });

    const bookIsInShelf = (current_book, current_shelf) => current_shelf.books.filter((book) => book.id==current_book.id).length > 0;

    const toggleFromShelf = (shelf, book) => {
        form.book = book.id;
        form.post(route("shelves.toggle", {shelf: shelf.id}), {preserveScroll: true});
    }

    const getShelf = (shelves, name) => shelves.filter((shelf) => shelf.type == name)[0];
</script>
<template>
    <span v-if="preview">
        <Link class="bg-blue-500 text-white px-2 rounded" v-if="bookIsInShelf(book, getShelf($page.props.shelves, 'WANT_TO_READ'))" :href="route('shelves.toggle', {shelf: getShelf($page.props.shelves, 'WANT_TO_READ')})" :data="{book: props.book.id}" method="post" preserveScroll>
            {{getShelf($page.props.shelves, 'WANT_TO_READ').name}}
        </Link>
        <p class="bg-gray-500 text-white px-2 rounded" v-else-if="bookIsInShelf(book, getShelf($page.props.shelves, 'READ'))">
            {{getShelf($page.props.shelves, 'READ').name}}
        </p>
        <p class="bg-green-500 text-white px-2 rounded" v-else-if="bookIsInShelf(book, getShelf($page.props.shelves, 'READING'))">
            {{getShelf($page.props.shelves, 'READING').name}}
        </p>
        <Link class="border text-blue-700 border-blue-500 px-2 rounded" v-else :href="route('shelves.toggle', {shelf: getShelf($page.props.shelves, 'WANT_TO_READ')})" :data="{book: props.book.id}" method="post" preserveScroll>
            {{getShelf($page.props.shelves, 'WANT_TO_READ').name}}
        </Link>
    </span>
    
    <span class="flex" v-else>
        <Dropdown align="left" width="60">
            <template #trigger>
                <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-bold leading-4 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 hover:text-white transition">
                    <BookmarkIcon class="h-5 h-5 text-white-500 inline" />
                    <span class="ml-2">Add to Shelf</span>
                </button>
            </template>
            <template #content>
                <div class="w-60">
                    <span v-for="shelf in $page.props.shelves" :key="shelf" class="block">
                        <form @submit.prevent="toggleFromShelf(shelf, book)">
                            <DropdownLink as="button">
                                {{shelf.name}} 
                                <span v-if="bookIsInShelf(book,shelf)"><CheckIcon class="h-5 h-5 inline text-green-500" /></span>
                            </DropdownLink>
                        </form>
                    </span>
                    <div class="border-t border-gray-200"/>
                
                    <DropdownLink as="link" :href="route('shelves.create', {book: props.book.id})">
                        Add a new Shelf
                    </DropdownLink>
                </div>
            </template>
        </Dropdown>
        <Toast type="info" v-if="form.recentlySuccessful">Shelf updated</Toast>
        
    </span>
</template>