<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import Paginator from '@/Components/Paginator.vue';
    
    defineProps({
        series: Object
    });
</script>

<template>
    <AppLayout title="All Series">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                All Series
            </h2>
        </template>

        <div class="py-12">
            <div  class="container mx-auto p-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5">
                <span v-for="item in series.data" :key="item.id">
                    <Link :href="route('series.show', {series: item.slug})">
                        <div class="h-full relative p-4 bg-white col-span-1 flex flex-col justify-items-center border rounded hover:drop-shadow-xl">
                            <img :src="'/covers/'+item.latest_book.image" class="rounded-lg w-100">
                            <div class="text-sm font-bold text-center mt-2">{{item.name}}</div>
                            <div class="absolute inline-flex items-center justify-center w-10 h-6 text-xs font-bold text-white bg-blue-500 rounded-full -top-3 -right-3">
                                # {{ item.books_count }}
                            </div>
                        </div>
                    </Link>
                </span>
            </div>
            <paginator :start="series.from" :end="series.to" :total="series.total" :links="series.links"  label="series"/>
        </div>
    </AppLayout>
</template>
