<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import DeleteDeviceForm from './Partials/DeleteDeviceForm.vue';
    import SectionBorder from '@/Components/SectionBorder.vue';
    import CreateForm from './Partials/CreateForm.vue'

    const props = defineProps({
        device: Object,
        deviceTypes: Array,
        mode: {
            type: String,
            default: "new"
        },
    });

</script>

<template>
    <AppLayout title="My Devices">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <span v-if="mode=='new'">Add a new Device for {{$page.props.user.name}}</span>
                <span v-if="mode=='edit'">Manage {{props.device.name}}</span>
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto pt-10 sm:px-6 lg:px-8">
                <CreateForm :device="props.device" :device-types="props.deviceTypes" :mode="props.mode"/>
            </div>
            <div class="max-w-7xl my-4 mx-auto pb-10 sm:px-6 lg:px-8" v-if="props.device">
                <SectionBorder />
                <DeleteDeviceForm :device="props.device" />
            </div>
        </div>
    </AppLayout>
</template>
