<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Paginator from '@/Components/Paginator.vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import kindleLogo from './Partials/Assets/kindle.png';
    import emailLogo from './Partials/Assets/email.png';
    import SystemAlert from '@/Components/SystemAlert.vue';

    defineProps({
        devices: Array
    });

</script>

<template>
    <AppLayout title="My Devices">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{$page.props.user.name}}'s Devices
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <SystemAlert class="my-2"/>
                <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-7">
                    <span v-for="device in devices.data" :key="device.id">
                        <Link :href="route('devices.edit', {device: device.id})">
                            <div class="grid justify-items-center border p-4 bg-white mx-2 hover:bg-blue-200 rounded">
                                <img :src="kindleLogo" v-if="device.driver=='kindle'" class="w-20">
                                <img :src="emailLogo" v-if="device.driver=='email'" class="w-12">
                                <div class="mt-2 text-sm">{{device.name}}</div>
                            </div>
                        </Link>
                    </span>
                    <Link :href="route('devices.create')" class="mx-2 justify-center inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Add Device
                    </Link>
                </div>
                <paginator :start="devices.from" :end="devices.to" :total="devices.total" :links="devices.links"  label="devices"/>
            </div>
        </div>
    </AppLayout>
</template>
