<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Book from './Partials/Book.vue';
    import Paginator from '@/Components/Paginator.vue';
    
    let props = defineProps({
        books: Object,
        type: {
            type: String,
            default: "All Books"
        },
        query: {
            type: String
        },
    });
</script>

<template>
    <AppLayout :title="props.type">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <span v-if="props.query">Search results for: {{props.query}}</span>
                <span v-else>{{props.type}}</span>
            </h2>
        </template>

        <div class="py-12">
            <div  class="container mx-auto p-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5">
                <span v-for="book in props.books.data" :key="book.id">
                    <book :book="book"/>
                </span>
            </div>
            <paginator :links="props.books.links" :start="props.books.from" :end="props.books.to" :total="props.books.total"  label="books"/>
        </div>
    </AppLayout>
</template>
