<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Book from './Partials/Book.vue';
    let props = defineProps({
        book: Object,
    });
</script>

<template>
    <AppLayout :title="props.book.title">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ props.book.title }}
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="py-6 text-justify sm:px-6 lg:px-8 bg-white shadow-xl sm:rounded-lg">
                    <book :book="book" detailed :identifier_profile="$page.props.config['book.identifiers']"/>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
