<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Alert from '@/Components/Alert.vue';
    import FormSection from '@/Components/FormSection.vue';
    import InputError from '@/Components/InputError.vue';
    import InputHelp from '@/Components/InputHelp.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import ActionMessage from '@/Components/ActionMessage.vue';
    import PrimaryButton from '@/Components/PrimaryButton.vue';
    import TextInput from '@/Components/TextInput.vue';
    import SelectInput from '@/Components/SelectInput.vue';
    import { Link, useForm } from '@inertiajs/inertia-vue3';
    import SectionBorder from '@/Components/SectionBorder.vue';
    import DeleteShelfForm from './Partials/DeleteShelfForm.vue';
    import CreateShelfForm from './Partials/CreateShelfForm.vue';

    defineProps({
        shelf: Object,
        types: Array,
        book: Number,
        accesses: Array,
        mode: {
            type: String,
            default: "new"
        },
    });
</script>

<template>
    <AppLayout title="My Shelves">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <span v-if="mode=='new'">Add a new shelf for {{$page.props.user.name}}</span>
                <span v-if="mode=='edit'">Manage {{shelf.name}}</span>
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto pt-10 sm:px-6 lg:px-8">
                <CreateShelfForm :shelf="shelf" :type="type" :book="book" :accesses="accesses" :mode="mode"/>
            </div>
            <div class="max-w-7xl my-4 mx-auto pb-10 sm:px-6 lg:px-8" v-if="shelf && shelf.type == 'CUSTOM'">
                <SectionBorder />
                <DeleteShelfForm :shelf="shelf" />
            </div>
        </div>
    </AppLayout>
</template>
