<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Paginator from '@/Components/Paginator.vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import SystemAlert from '@/Components/SystemAlert.vue';
    import Book from '@/Pages/Book/Partials/Book.vue';
    import ActionMessage from '@/Components/ActionMessage.vue';
    import { PencilSquareIcon } from "@heroicons/vue/20/solid";


    defineProps({
        shelves: Array,
        current_shelf: Object,
        books: Array,
    });

</script>

<template>
    <AppLayout title="My Shelves">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{$page.props.user.name}}'s Shelves / {{current_shelf.name}}
            </h2>
        </template>

        <div class="py-12 container mx-auto">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <SystemAlert class="my-2"/>
                <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px">
                        <li class="mr-2" v-for="shelf in shelves" :key="shelf.id">
                            <Link :href="route('shelves.show', {shelf: shelf.id})" v-if="shelf.id == current_shelf.id">
                                <span class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500">
                                    <Link :href="route('shelves.edit', {shelf: shelf.id})" v-if="shelf.id == current_shelf.id"><PencilSquareIcon class="h-5 h-5 inline text-blue-300 hover:text-blue-600" /></Link>
                                    <div class="inline ml-2">{{shelf.name}} ({{shelf.books_count}})</div>
                                </span>
                            </Link>
                            <Link :href="route('shelves.show', {shelf: shelf.id})" v-else>
                                <span class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                                    <Link :href="route('shelves.edit', {shelf: shelf.id})" v-if="shelf.id != current_shelf.id"><PencilSquareIcon class="h-5 h-5 inline text-gray-300 hover:text-gray-600" /></Link>
                                    <div class="inline ml-2">{{shelf.name}} ({{shelf.books_count}})</div>
                                </span>
                            </Link>
                        </li>
                        <li class="float-right">
                            <Link :href="route('shelves.create')" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                                Add Shelf
                            </Link>
                        </li>
                    </ul>
                    
                </div>

                <div  class="pt-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5" v-if="books.data.length">
                    <span v-for="book in books.data" :key="book.id">
                        <book :book="book"/>
                    </span>
                </div>
                
                <div v-else class="flex justify-center">
                    <iframe src="https://nullreferer.com/?https://embed.lottiefiles.com/animation/106964"></iframe>
                </div>
                
                <paginator :links="books.links" :start="books.from" :end="books.to" :total="books.total"  label="books"/>
            </div>
        </div>
    </AppLayout>
</template>
