<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import Paginator from '@/Components/Paginator.vue';
    import { DateTime } from "luxon";

    defineProps({
        shelves: Array
    });

</script>
<template>
    <AppLayout title="Public Shelves">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Public Shelves
            </h2>
        </template>

        <div class="py-12">
            <div class="container relative mx-auto overflow-x-auto sm:rounded-lg" v-if="shelves.data.length">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3 text-right">
                                Books
                            </th>
                            <th scope="col" class="px-6 py-3">
                                By
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="shelf in shelves.data" :key="shelf">
                            <Link as="tr" :href="route('public.shelves.show', {shelf: shelf.slug, user: shelf.user.slug})" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-slate-200 cursor-pointer">
                                <td scope="row" class="px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <span class="text-base">{{shelf.name}}</span>
                                        <span class="text-xs text-gray-400 ml-3">last updated: {{DateTime.fromISO(shelf.updated_at).toLocaleString(DateTime.DATE_MED)}}</span>
                                </td>
                                <td class="px-6 py-2 text-right">
                                    {{ shelf.books_count }}
                                </td>
                                <td class="flex items-center px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-7 h-7 rounded-full" :src="shelf.user.profile_photo_url">
                                    <div class="pl-3">
                                        <div>{{shelf.user.name}}</div>
                                    </div>
                                </td>
                            </Link>
                        </template>
                    </tbody>
                </table>
                <paginator class="pb-3" single-line :links="shelves.links" :start="shelves.from" :end="shelves.to" :total="shelves.total"  label="shelves"/>
            </div>
            <div class="grid justify-items-center" v-else>
                <iframe src="https://nullreferer.com/?https://embed.lottiefiles.com/animation/106964"></iframe>
            </div>
        </div>
    </AppLayout>
</template>