<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import Paginator from '@/Components/Paginator.vue';
    import Book from '@/Pages/Book/Partials/Book.vue';
    import { DateTime } from "luxon";

    defineProps({
        shelf: Object,
        books: Array,
    });

</script>
<template>
    <AppLayout title="Public Shelves">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Public Shelf: {{shelf.name}}
            </h2>
        </template>

        <div class="py-2 container mx-auto">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 border-blue-600 border-b-2">
                <div class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-20 h-20 object-cover rounded-full" :src="shelf.user.profile_photo_url">
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{ shelf.user.name }}</div>
                        <div class="font-normal text-gray-500 italic">Member since: {{ DateTime.fromISO(shelf.user.created_at).toLocaleString({year: 'numeric'}) }} </div>
                    </div>
                </div>
            </div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div  class="pt-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5" v-if="books.data.length">
                    <span v-for="book in books.data" :key="book.id">
                        <book :book="book"/>
                    </span>
                </div>
                
                <div v-else class="flex justify-center">
                    <iframe src="https://nullreferer.com/?https://embed.lottiefiles.com/animation/106964"></iframe>
                </div>
                
                <paginator :links="books.links" :start="books.from" :end="books.to" :total="books.total"  label="books" v-if="books.data.length"/>
            </div>
        </div>
    </AppLayout>
</template>